<div class="docs-section no-top-border" id="about">
<div class="docs-header">About</div>

  <p>[TODO: need some selling here? or expand more on the topics?  add the text from GAPS website? (or similar)?] 
  </p>

  <p> GAPS online continues the <a href ="https://gapsworkshop.github.io/gaps2025"> GAPS 2025 workshop</a>, as a recurring online seminar. It provides  a regular platform for researchers interested in provable security for symmetric-key cryptography.
  Topics include proof techniques, security notions, and generic attacks; related topics such as cryptanalysis and mathematical foundations are also welcome.
  </p>


  <p>
  A seminar is held approximately once per month. [TODO: is the following correct?]
  Each seminar includes one talk of approximately 1h30 followed by a discussion session. 
  </p>
      

</div>
