<div class="docs-section no-top-border" id="about">
<div class="docs-header">About</div>

<p>Ashwin: Maybe recurring seminar is not needed? Also, maybe it is fine to keep the text here simple and to the point. So the text as it is looks good to me.</p>

  <p>[TODO: need some selling here? or expand more on the topics?  add the text from GAPS website? (or similar)?] 
  </p>

  <p> GAPS online continues the <a href ="https://gapsworkshop.github.io/gaps2025"> GAPS 2025 workshop</a>, as a recurring online seminar. It provides  a regular platform for researchers interested in provable security for symmetric-key cryptography.
  Topics include proof techniques, security notions, and generic attacks; related topics such as cryptanalysis and mathematical foundations are also welcome.
  </p>

  <p>
  A seminar is held approximately once per month. [TODO: is the following correct?]
  Each seminar includes one talk of approximately 1h30 followed by a discussion session. 
  </p>

  <p>Ashwin: I think it would be best to not commit to any number here. as for talk time, this may go in the instructions?</p>

</div>
