<div class="docs-section" id="instructions">
  <div class="docs-header">Instructions</div>
  <p>
    The seminars take place on Zoom, and recordings of the presentations may be uploaded to YouTube.
  </p>
  
  <div class="docs-subsection">
    <div class="docs-subheader">For audience</div>
    <p>
      You can join the sessions via [TODO: permanent link or where the link will be posted].
    </p>
  </div>

  <div class="docs-subsection">
    <div class="docs-subheader">For speakers</div>
    <p>
      Please let us know in advance if you DO NOT want your presentation to be recorded.
      Try to join about 10 minutes before your session to make sure your setup is working smoothly.  
    </p>
  </div>
</div>
