<div class="docs-section" id="instructions">
  <div class="docs-header">Instructions</div>
  <p>
    The seminars take place on Zoom, and recordings of the presentations may be uploaded to YouTube.
  </p>
  
  <div class="docs-subsection">
    <div class="docs-subheader">For audience</div>
    
    <h6>Joining live session:</h6>
    <ol>
      <li> If you wish to join the live session, please request access using <a href="https://docs.google.com/forms/d/e/1FAIpQLSdSXmbzkGbfFduvTobtti3PQwt2f7dnDu-1VsraV438czph9A/viewform?usp=publish-editor">the following form</a>. You may also consider joining the <a href="https://groups.google.com/g/onlinegaps"> google group</a>. In either case, please indicate your name and affiliation when requesting access.</li>
      <li> The Zoom meeting link and instructions will be posted on the google group / sent to emails by request few hours before the session. </li>
      <li> Please join at least 5 minutes ahead of the scheduled start. </li>
      <li> Please mute your microphone during the talk, unless you want to ask a question.</li>
      <li> We strongly encourage questions. You may unmute and directly ask the question, or write on the in-built chat and the moderator will inform the speaker.</li>
      <li> All talks and up to 15 minutes of Q&amp;A will be recorded. An unrecorded Q&amp;A may follow directly after that.</li>
    </ol>
    
    <h6>Watching the recorded talks:</h6>
    <ol>
      <li> We will post all talks to the YouTube channel, if the speaker agrees.</li>
      <li> A google group conversation thread might also be available (for up to 15 days) for offline discussions with the speaker, if they consent.</li>
    </ol>
  </div>

  <div class="docs-subsection">
    <div class="docs-subheader">For speakers</div>
    <!-- <p>
      One of the goals of this online seminar is to make research on symmetric-key cryptography more widely accessible, so by default we will share the talks recordings on YouTube. Please let us know in advance if you DO NOT want your presentation to be recorded.
      Try to join about 10-15 minutes before your session to make sure your setup is working smoothly.  
    </p>
    <p>Should we give any instruction on talk length /  high-level format?</p> -->
      <ul>
        <li> One of the goals of this online seminar is to make research on symmetric-key cryptography more widely accessible, so by default we will share the talk recordings on YouTube. Please let us know in advance if you DO NOT want your presentation to be recorded. If your presentation is recorded, please ensure that it does not include any copyrighted material.</li>
        <li>Talks are expected to last approximately 1h. The format is flexible, but talks should be accessible to a broad audience.</li>
        <li>Try to join about 10-15 minutes before your session to make sure your setup is working smoothly.</li>
      </ul>
  </div>
</div>

